.carta {
  width: 150px;
  height: 210px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  transition: border 0.3s;
}

.encontrada {
  border: 3px solid #2ecc40;
  border-radius: 20px;
}


.cartaFace {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 4px 16px #0002;
}